<section class="bg-gray-100 pb-16">

    <div>
        <owl-carousel-o [options]="mainSliderCustomOptions">
            <ng-template carouselSlide>
                <div>
                    <div>
                        <img class="w-full" src="/assets/images/img1.avif" alt="">
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div>
                    <div>
                        <img class="w-full" src="/assets/images/img2.avif" alt="">
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div>
                    <div>
                        <img class="w-full" src="/assets/images/img3.avif" alt="">
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div>
                    <div>
                        <img class="w-full" src="/assets/images/img4.avif" alt="">
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div>
                    <div>
                        <img class="w-full" src="/assets/images/img5.avif" alt="">
                    </div>
                </div>
            </ng-template>

        </owl-carousel-o>
    </div>
</section>