<section class="border border-gray-200 bg-gray-200 rounded shadow-xs md:w-1/2 mx-auto mt-16 p-4">
    <div class="">
        <h2 class="mb-3 text-[#F83758] font-medium text-center text-3xl">Login Now</h2>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">

        <div class="mb-3 ">
            <label for="email" class="main-label">Email</label>
            <input type="email" id="email" class=" main-input" formControlName="email" />
        </div>
        <div class="mb-3 relative">
            <label for="password" class="main-label">Password</label>
            <input [type]="flag === true?'password':'text'" id="password" class=" main-input"
                formControlName="password" />
            <span (click)="togglePassword()"><i
                    class="fas  absolute top-0 end-3 translate-y-[230%] text-gray-600 cursor-pointer" [class]="{
                  'fa-eye-slash': flag ===true,
                  'fa-eye': flag ===false
                    }
                    "></i></span>
        </div>
        <div class="flex flex-wrap justify-end">
            <button class="btn-main px-3" type="submit">Login
                @if (isLoading()) {

                <span><i class="fas fa-spinner animate-spin"></i></span>
                }
            </button>
        </div>

    </form>

</section>