<section class="py-16">
    <div class="container xl:w-[95%]">
        <h3 class="text-3xl font-medium text-[#F83758] pt-3 text-center ">Shop ALL Brands</h3>
        <div class="parent mt-7 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-3  ">
            @for (brand of allBrands(); track brand._id) {
            <div class="px-4">
                <div class="my-2">
                    <img class="w-full  " [src]="brand.image" [alt]="brand.name" [title]="brand.name">
                </div>
                <h3 class=" pt-2 text-[#F83758] text-center text-xl"> {{brand.name}}</h3>
            </div>
            }
        </div>


    </div>

</section>